<!--********************************************************************************
 * WEB422 – Assignment 01
 * File: index.ejs
 * Name: Julia Alekseev Student ID: 051292134 Date: June 09, 2024
 ********************************************************************************-->
<!DOCTYPE html>
<html lang="en">
  <!-- header -->
  <%- include('partials/head') %>
  <body>
    <!-- nav bar -->
    <%- include('partials/nav') %>
    <!-- ***** body  ***** -->
    <div class="container">
      <div class="page-heading">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 offset-lg-2 header-text">
              <h2>Discover the<br /><em>Classic Library Vault</em></h2>
              <p>
                Welcome to the Classic Library Vault, where you can explore a
                curated selection of timeless literary masterpieces. Dive into
                our most popular categories and discover the works that have
                shaped literature across the ages.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div><%- include('partials/navFoot') %></div>
  </body>
</html>
