<!--********************************************************************************
 * WEB422 – Assignment 01
 * File: nav.ejs
 * Name: Julia Alekseev Student ID: 051292134 Date: June 09, 2024
 ********************************************************************************-->
<header class="header-area header-sticky">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="main-nav">
          <!-- ***** Logo Start ***** -->
          <a href="/" class="logo">
            <img
              src="../../assets/images/logo.png"
              alt="Classic Library Vault"
            />
          </a>
          <!-- ***** Logo End ***** -->
          <!-- ***** Menu Start ***** -->
          <ul class="nav">
            <li><a href="/" class="active">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/books">Books</a></li>
            <li class="has-sub">
              <a href="javascript:void(0)" class="active">Transactions</a>
              <ul class="sub-menu">
                <li><a href="/return">Return a Book</a></li>
                <li><a href="/addBook">Add new book</a></li>
              </ul>
            </li>
          </ul>
          <!-- ***** Menu End ***** -->
        </nav>
      </div>
    </div>
  </div>
</header>
