<!--********************************************************************************
 * WEB422 – Assignment 01
 * File: navFoot.ejs
 * Name: Julia Alekseev Student ID: 051292134 Date: June 09, 2024
 ********************************************************************************-->
<footer class="footer-area">
  <div class="footer-content">
    <!-- ***** Footer Menu Start ***** -->
    <ul class="nav-foot">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/books">Books</a></li>
    </ul>
    <!-- ***** Footer Menu End ***** -->
  </div>
</footer>
